/* ==========================================================================
  Normalize
========================================================================== */

* {
	box-sizing: border-box;
	line-height: 1.62;
}

body {
	margin: 0;
}

/* ==========================================================================
	Sections
========================================================================== */

main {
	overflow: visible;
}

section {
	position: relative;
	z-index: 250;
}