/* ==========================================================================
  Color Themes
========================================================================== */

.c0 {
	background: $c0;
	color: $c0p;
}
.c1 {
	background: $c1;
	color: $c1p;
}
.c2 {
	background: $c2;
	color: $c2p;
}
.c3 {
	background: $c3;
	color: $c3p;
}
.c4 {
	background: $c4;
	color: $c4p;
}
.c5 {
	background: $c5;
	color: $c5p;
}

.cc0 {
	color: $c0p;
}
.cc1 {
	color: $c1p;
}
.cc2 {
	color: $c2p;
}
.cc3 {
	color: $c3p;
}
.cc4 {
	color: $c4p;
}
.cc5 {
	color: $c5p;
}

#master-header {
	a {
		color: $c0;

		&:hover {
			color: $clead;
		}
	}
}
