/* ==========================================================================
  Form
========================================================================== */

html {
	form {
		position: relative;
		width: 100%;
		height: auto;
		display: table;

		p {
			display: table;
			width: 100%;
		}
	}
}
	