section.content {
	display: block;
	width: 94vw;
	margin: 0 auto;
	padding: calc(3em + 3vw) calc(2em + 2vw);

	@media screen and (max-width: 1024px) {
		padding: calc(2em + 2vw) calc(1em + 1vw);
	}

	.content-box {
		display: block;
		width: 100%;
		max-width: 42em;
		margin: 0 auto;
	}
}