section.content {
	display: flex;
	overflow: hidden;
	
	.content-box {
		display: block;
		width: 100%;
		padding: calc(3em + 3vw) calc(2em + 2vw);
	
		@media screen and (max-width: 1024px) {
			padding: calc(3em + 2vw) calc(1em + 1vw);
		}
	}

	.content-holder {
		display: block;
		width: 100%;
		max-width: 42em;
		margin: 0 auto;
	}
}