header#master-header {

	nav.navi {
		display: flex;
		align-items: center;
		padding: .75em 1.25em;

		.navi-items {
			display: flex;
			padding: 0 .75em;

			.nav-item {
				display: flex;

				&.hint--bottom::after, &.hint--bottom::before {
					top: 73%;
				}
			}

			a, .coming {
				padding: .5em .5em;
			}
		}
	}
}