header#master-header .nav-item {

	.sub-nav-items {
		position: absolute;
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		padding: .5em 0;

		.nav-item a {
			padding: .25em .75em;
		}

		.sub-nav-items {
			top: 0;
			left: 100%;
		}
	}
}

.x0.null {
	.sub-nav-items {
		background: #fff;
	}
}