header#master-header {
	position: fixed;
	z-index: 6000;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: auto;
	padding: 1em 1em 0 1em;
	color: #fff;

	.logo {
		padding: 0 1.5em;
	}

	nav.navi {
		display: flex;
		align-items: center;
		padding: 0 1.25em;

		.navi-items {
			display: flex;
			padding: 0 .5em;

			a {
				padding: 1em .5em;
			}
		}

		.social-icons {
			display: flex;

			.social-icon {
				padding: .5em .25em;
			}
		}
	}
}