header#master-header {
	position: absolute;
	z-index: 6000;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: auto;
	padding: .25em 1em;

	transform: translate3d(0,0,0);
	transition: all .2s ease-in-out;

	.logo {
		padding: 0 1.5em;
	}

	nav.navi {
		display: flex;
		align-items: center;
		padding: 0 1.25em;

		.navi-items {
			display: flex;
			padding: 0 .5em;

			.nav-item {
				display: flex;

				&.hint--bottom::after, &.hint--bottom::before {
					top: 73%;
				}
			}

			a, .coming {
				padding: 1em .5em;
			}

			.coming {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 53%;
					left: 50%;
					width: 80%;
					height: 0px;
					border-top: 2px solid;
					transform: translate3d(-50%,-50%,0);
					opacity: .85;
				}
			}
		}

		.social-icons {
			display: flex;

			.social-icon {
				a {
					padding: .1em .25em;
				}
			}
		}
	}

	&.mutate {
		//background: #fff;
		box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.05);
	}
}