header#master-header {
	position: fixed;
	z-index: 6000;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: auto;
	padding: 1em 1em 0 1em;
	color: #fff;
	background: transparent;

	transform: translate3d(0,0,0);
	transition: transform .3s ease-in-out;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 1rem;
		width: calc(100% - 2rem - 2px);
		height: 100%;
		background: hsla(0,0,0,0.05);
		opacity: 0;

		transition: opacity .3s ease-in-out .1s;
	}

	.logo {
		padding: 0 1.5em;
	}

	nav.navi {
		display: flex;
		align-items: center;
		padding: 0 1.25em;

		.navi-items {
			display: flex;
			padding: 0 .5em;

			.nav-item {
				display: flex;

				&.hint--bottom::after, &.hint--bottom::before {
					top: 73%;
				}
			}

			a, .coming {
				padding: 1em .5em;
			}

			.coming {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 54%;
					left: 50%;
					width: 80%;
					height: 2px;
					background: #f5f5f5;
					transform: translate3d(-50%,-50%,0);
				}
			}
		}

		.social-icons {
			display: flex;

			.social-icon {
				a {
					padding: .1em .25em;
				}
			}
		}
	}

	&.mutate {
		color: #444;

		transform: translate3d(0,-1em,0);
		transition: transform .3s ease-in-out;

		a {
			color: #444;
		}

		.coming {
			&:before {
				background: #444 !important;
			}
		}

		&:before {
			opacity: 1;
		}
	}
}