/* ==========================================================================
	Core
========================================================================== */

$clead: #fac400;
$clead2: #EE3C96;

$c0: #fff;
$c0h: #131313;
$c0p: #131313;

$c1: #B1B1B1;
$c2: #EE3C96;
$c3: #B1B1B1;
$c4: #131313;
$c5: #131313;

$c1p: #131313;

$c3h: #131313;
$c3p: #131313;

$c4p: #fff;

// Don't forget to delete unused styles!
$font1: 'Open Sans', sans-serif;
$font2: 'Quicksand', sans-serif;
$font3: 'Montserrat', sans-serif;

//@import '../fonts/brownstd/stylesheet';
//@import '../fonts/suisse/stylesheet';

@import 'mixins/_mixins.scss';
@import 'core/_normalize.scss';
@import 'core/_typo.scss';
@import 'core/_helpers.scss';

// @import 'core/forms/_form.scss';
// @import 'core/forms/_input.scss';
// @import 'core/forms/_textarea.scss';
// @import 'core/forms/_checkbox.scss';
// @import 'core/forms/_radio.scss';
// @import 'core/forms/_upload.scss';
// @import 'core/forms/_select.scss';
// @import 'core/forms/_timepicker.scss';
// @import 'core/forms/_datepicker.scss';
// @import 'core/forms/_submit.scss';

// @import 'theme/forms/_form.scss';
// @import 'theme/forms/_input.scss';
// @import 'theme/forms/_textarea.scss';
// @import 'theme/forms/_checkbox.scss';
// @import 'theme/forms/_radio.scss';
// @import 'theme/forms/_upload.scss';
// @import 'theme/forms/_select.scss';
// @import 'theme/forms/_timepicker.scss';
// @import 'theme/forms/_datepicker.scss';
// @import 'theme/forms/_submit.scss';

//@import '../fonts/fontawesome/scss/fontawesome.scss';
