section.content {

	.block-image {
		position: absolute !important;
		grid-column: 9 / 13;
		width: 100%;
		height: 100%;
	}
	
	.block-content {
		grid-column: 1 / 9;
		position: relative;
		z-index: 50;
		display: block;
		width: 100%;
		padding: calc(3em + 3vw) calc(2em + 2vw) calc(3em + 3vw) calc(2em + 5vw);
		//margin: calc(3em + 3vw) 0 0;
	
		@media screen and (max-width: 1024px) {
			padding: calc(3em + 2vw) calc(1em + 1vw);
		}
	}

	.block-video {
		position: relative;
		grid-column: 1 / 13;
		height: 56vw;

		.video-inject,
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}