/* ==========================================================================
	Core
========================================================================== */

$clead: #ff6b53;
$clead2: #fac400;

$c0: #f8f8f8;
$c0h: #585860;
$c0p: #585860;
$c0a: #f8f8f8;
$c0h: #ff6b53;

$c1: #f0efee;
$c1h: #3c3c3c;
$c1p: #3c3c3c;
$c1a: #ff6b53;
$c1h: #3c3c3c;

$c2: #f5f5f5;
$c2h: #3c3c3c;
$c2p: #3c3c3c;
$c2a: #ff6b53;
$c2h: #3c3c3c;

$c3: #B1B1B1;
$c3h: #131313;
$c3p: #131313;
$c3a: #ff6b53;
$c3h: #3c3c3c;

$c4: #3c3c3c;
$c4h: #ffffff;
$c4p: #ffffff;
$c4a: #ff6b53;
$c4h: #ffffff;

$c5: #272a2b;
$c5h: #ffffff;
$c5p: #ffffff;
$c5a: #ffffff;
$c5h: #ff6b53;



// Don't forget to delete unused styles!
$font1: 'Montserrat', Helvetica, Arial, sans-serif; // Headers
$font2: 'Quicksand', Helvetica, Arial, sans-serif; // SubHeaders
$font3: 'Open Sans', Helvetica, Arial, sans-serif; // Body

$frame: 1em;

//@import '../fonts/brownstd/stylesheet';
//@import '../fonts/suisse/stylesheet';

@import 'mixins/_mixins.scss';
@import 'plugins/_hint.scss';
@import 'core/_normalize.scss';
@import 'core/_typo.scss';
@import 'core/_helpers.scss';
@import 'core/_rainbow.scss';

// @import 'core/forms/_form.scss';
// @import 'core/forms/_input.scss';
// @import 'core/forms/_textarea.scss';
// @import 'core/forms/_checkbox.scss';
// @import 'core/forms/_radio.scss';
// @import 'core/forms/_upload.scss';
// @import 'core/forms/_select.scss';
// @import 'core/forms/_timepicker.scss';
// @import 'core/forms/_datepicker.scss';
// @import 'core/forms/_submit.scss';

// @import 'theme/forms/_form.scss';
// @import 'theme/forms/_input.scss';
// @import 'theme/forms/_textarea.scss';
// @import 'theme/forms/_checkbox.scss';
// @import 'theme/forms/_radio.scss';
// @import 'theme/forms/_upload.scss';
// @import 'theme/forms/_select.scss';
// @import 'theme/forms/_timepicker.scss';
// @import 'theme/forms/_datepicker.scss';
// @import 'theme/forms/_submit.scss';

//@import '../fonts/fontawesome/scss/fontawesome.scss';
