/* ==========================================================================
  Grid
========================================================================== */

.g100vw {
	flex: 0 0 100vw;
}

.g83vw {
	flex: 0 0 73vw;
}

.g67vw {
	flex: 0 0 67vw;
}

.g50vw {
	flex: 1 1 50vw;
}

.g33vw {
	flex: 0 0 33vw;
}

.g25vw {
	flex: 0 0 25vw;
}

.g17vw {
	flex: 0 0 17vw;
}

@media screen and (max-width: 1024px) {
	.g100vw,
	.g83vw,
	.g67vw,
	.g50vw,
	.g33vw,
	.g25vw,
	.g17vw {
		flex: 0 0 100%;
	}
}

/* ==========================================================================
  Padding
========================================================================== */

.padd {
	padding: 2em;

	@media screen and (max-width: 1024px) {
		padding: 1em;
	}
}

.padd2 {
	padding: 4em;

	@media screen and (max-width: 1024px) {
		padding: 3em;
	}
}