/* ==========================================================================
  Grid
========================================================================== */

.grid-12 {
	display: grid !important;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* ==========================================================================
  Padding
========================================================================== */

.padd {
	padding: 2em;

	@media screen and (max-width: 1024px) {
		padding: 1em;
	}
}

.padd2 {
	padding: 4em;

	@media screen and (max-width: 1024px) {
		padding: 3em;
	}
}