/* ==========================================================================
  Helpers
========================================================================== */

.hide, .hidden {
	display: none !important;
}
  
html {
	overflow-x: hidden;
}

br {
	margin: 0 !important;
}

.aligncenter {
	text-align: center;
}

.layout-framed {
	border: $frame solid #fff;
	.hero {
		padding-bottom: calc(100vh - #{$frame * 2});
	}
}

.glare {
	position: absolute;
	z-index: 250;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.3) 45%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%); 
	clip-path: polygon(69% 0, 100% 0%, 100% 100%, 87% 100%);
	mix-blend-mode: lighten;
}

/* ==========================================================================
	Aspect Ratios
========================================================================== */

.aspect-ratio {
	position: relative;
	top: 0;
	display: block;
	width: 100%;
	height: 0;
}

/* ==========================================================================
	BGS
========================================================================== */

.bg-cover {
	background-size: cover;
	background-position: center;
}

.bg-contain {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-fixed {
	background-attachment: fixed;
}

/* ==========================================================================
	Image Container Object Fit Cover
========================================================================== */

.img-cover {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
  
.img-contain {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate3d(0,0,0);
  
	object-fit: contain;
	font-family: 'object-fit: contain;';
}

.skip-link {
	display: none;
}
  
.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
  
	video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: 0;
	  overflow: hidden;
	}
}