/* ==========================================================================
  Color Themes
========================================================================== */

.c0 {
	background-color: $c0;
	color: $c0p;

	.border {
		border-color: darken($c0, 4%);
	}

	a {
		color: $c0a;
		
		&:hover {
			color: $c0h;
		}
	}
}
.c1 {
	background-color: $c1;
	color: $c1p;

	.border {
		border-color: darken($c1, 4%);
	}

	a {
		color: $c1a;
		
		&:hover {
			color: $c1h;
		}
	}
}
.c2 {
	background-color: $c2;
	color: $c2p;

	.border {
		border-color: darken($c2, 4%);
	}

	a {
		color: $c2a;
		
		&:hover {
			color: $c2h;
		}
	}
}
.c3 {
	background-color: $c3;
	color: $c3p;

	.border {
		border-color: darken($c3, 4%);
	}

	a {
		color: $c3a;
		
		&:hover {
			color: $c3h;
		}
	}
}
.c4 {
	background-color: $c4;
	color: $c4p;

	.border {
		border-color: darken($c4, 4%);
	}

	a {
		color: $c4a;
		
		&:hover {
			color: $c4h;
		}
	}
}
.c5 {
	background-color: $c5;
	color: $c5p;

	.border {
		border-color: lighten($c5, 4%);
	}

	a {
		color: $c5a;
		
		&:hover {
			color: $c5h;
		}
	}
}

.cc0 {
	color: $c0p;
}
.cc1 {
	color: $c1p;
}
.cc2 {
	color: $c2p;
}
.cc3 {
	color: $c3p;
}
.cc4 {
	color: $c4p;
}
.cc5 {
	color: $c5p;
}
